<% if ENV["SALAOREQUIP"].to_s  == "sala" %>
    <h1>Editar sala</h1>
<% else %>
    <h1>Editar Equipamento</h1>
<% end %>

<%= render 'form', sala: @sala %>

<%= link_to 'Mostrar', @sala, class: "btn btn-primary" %> |
<%= link_to 'Voltar', :back, class: 'btn btn-dark active' %>
