<% if ENV["SALAOREQUIP"].to_s  == "sala" %>
    <h1>Novo sala</h1>
<% else %>
    <h1>Nova equipamento</h1>
<% end %>

<%= render 'form', sala: @sala %>

<%= link_to 'Voltar', :back, class: 'btn btn-dark active' %>
